.ant-layout-header {
  background: white;
}

.container {
  background-color: white;
}

._card-user-info {
  box-shadow: 0 0 10px #00000021 !important;
  border-radius: 3px;
  padding-top: 20px;
}

._app-skeleton-image {
  margin-left: 50px !important;
  width: 300px !important;
  height: 300px !important;
  border-radius: 250px !important;
  transition-property: margin, width, height  !important;
  transition-duration: 1s;
}

@media only screen and (max-width: 1600px) {
  ._app-skeleton-image {
    margin-left: 40px !important;
    width: 250px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 1100px) {
  ._app-skeleton-image {
    margin-left: 15px !important;
    width: 250px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 400px) {
  ._app-skeleton-image {
    margin-left: 30px !important;
    width: 250px !important;
    height: 250px !important;
  }
}
